body{
    display: grid;
    text-align: center;
    margin: 10px auto;
    font-family: 'Rowdies';
    grid-template-columns: 15% auto;
    grid-template-rows: 200px auto;
    background: linear-gradient(270deg, #9767f9, #4c9bf7, #0cd1f2, #15dfc6);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 25s ease infinite;
    -moz-animation: AnimationName 25s ease infinite;
    animation: AnimationName 25s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
button {
    margin: 5px;
    margin-top: 10px;
}
#header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 5px;
    padding-bottom: 40px;
}
h1 {
    font-size: 50px;
}
#playersHands {
    display: flex;
    align-items: flex-start;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-content: space-evenly; 
}
#player, #dealer{
    border: solid 5px;
    background-color: rgb(73, 180, 73);
    padding: 15px;
    color: white;
    border-color: white;
    max-width: 300px;
}