body{
    display: grid;
    text-align: center;
    margin: 10px auto;
    font-family: 'Rowdies';
    grid-template-columns: 15% auto;
    grid-template-rows: 200px auto;
    background: rgb(248,213,250);
background: radial-gradient(circle, rgba(248,213,250,1) 0%, rgba(130,146,244,1) 100%);
}
button {
    margin: 5px;
    margin-top: 10px;
}
#startBtn{
    background-color: ;
}
#hitBtn{

}
#standBtn{
    
}
#header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 5px;
    padding-bottom: 40px;
}
h1 {
    font-size: 50px;
}
#playersHands {
    display: flex;
    align-items: flex-start;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-content: space-evenly;
    animation: fadeInDown;
    animation-duration: 2s;
    
}
#playerCont, #dealerCont{
    display: flex;
}
.whiteSpace {
    flex-grow: 99;
}
#player{
    border: solid 5px;
    background-color: rgb(73, 180, 73);
    padding: 15px;
    color: white;
    border-color: white;
    max-width: 300px;
}
#dealer {
    border: solid 5px;
    border-color: white;
    background-color: rgb(73, 180, 73);
    color: white;
    max-width: 300px;
    padding: 15px;
}

@media only screen and (min-width: 768px){
    /* body{
        grid-template-rows: 250px auto;
    } */
}